:root {
  --font-family: "Encode Sans Expanded", sans-serif;
}

* {
  box-sizing: border-box;
}

.new-ad {
  padding: 2rem 1rem;
}

.new-ad h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
}

.ad-parts {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem; */
  flex-direction: column;
}

.ad-part {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.35rem 0;
}

.ad-part label {
  width: 30%;
  text-align: left;
  margin: 0;
}

.ad-part select,
.ad-part input {
  width: 35%;
  margin: 0;
  border: 0.5px solid black;
}

.submit-btn,
.file-upload-label {
  display: inline-block;
  margin: 1rem auto;
  background-color: pink;
  color: black;
  border: 0.5px solid black;
  cursor: pointer;
  border-radius: 0.25em;
  font-family: var(--font-family);
  font-weight: bold;
  padding: 0.5em 1.25em;
  font-size: medium;
}

#file-upload-btn {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .submit-btn {
    display: block;
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: 700px) {
  .ad-part input,
  .ad-part select {
    width: 30%;
  }
}

@media screen and (min-width: 850px) {
  .ad-parts div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .ad-part label,
  .ad-part input,
  .ad-part select {
    width: 80%;
  }

  .textarea {
    width: 60%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1050px) {
  .submit-btn {
    display: block;
    margin: 2.5rem auto 1.5rem;
  }

  .textarea {
    width: 45%;
  }
}

@media screen and (min-width: 1350px) {
  .ad-parts {
    width: 90%;
    margin: 0 auto;
  }

  .ad-parts div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .ad-part label,
  .ad-part input,
  .ad-part select {
    width: 100%;
  }

  .textarea {
    width: 75%;
  }
}
