.button {
  background-color: black;
  color: rgb(255, 191, 202);
  font-size: 16px;
  text-align: center;
  border: 3px solid rgb(255, 191, 202);
  border-radius: 50px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  position: relative;
}

.button:hover {
  background: rgb(255, 191, 202);
  color: #000;
  box-shadow: 0 0 50px rgb(255, 191, 202), 0 0 21px rgb(255, 191, 202);
}

/* overwrites */
.home {
  display: block;
}

/* swipper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-container {
  width: 800px;
}

.oglas-container {
  display: flex;
  margin: 30px 160px;
}

.oglas-column-1 {
  padding-right: 0px;
}

.oglas-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price {
  font-weight: bold;
  font-size: 32px;
  line-height: 68px;
}

.title {
  font-size: 44px;
  display: inline;
}

.year {
  font-weight: bold;
}

.info-box {
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #dcdcdc;
  padding: 10px 20px 20px;
  margin: 40px 0;
  font-size: 14px;
  background-color: #4f4f4f8c;
}

.info-box h2 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.info-box .divider {
  border-bottom: 1px solid #bebebe;
  padding: 4px 0
}

.info-box .uk-width-1-1 .divider:last-child {
  border-bottom: none
}

.info-section-container {
  display: flex;
}

.info-section {
  width: 100%
}

.info-entry {
  display: flex
}

.info-label {
  width: 100%;
  color: var(--main-color);
}

.info-value {
  width: 100%;
  font-weight: bold;
}

.info-checkboxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.info-card {
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #dcdcdc;
  padding: 10px 20px 20px;
  margin: 15px 0;
  font-size: 14px;
  background-color: #4f4f4f8c;
}

.info-card h3 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 5px;
}

.info-card h2:hover {
  color: var(--main-color);
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
}