
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    text-decoration: none;
    box-sizing:border-box;

}
/*=============== VARIABLES ===============*/
:root {
--main-color:pink;
--text-color:white;
--bg-color:black;
--container-color:	#383838;
--txt-color:	#606060;


}
a {
    text-decoration: none;
}




.grid{
    display:grid;
    gap:1.5rem;
}
.shape{
    background-color:rgb(255, 191, 202) ;
    /*background-color:hsla(219,33% ,32%,.5);*/
    filter:blur(112px);
    border-radius:50%;
}
.shape__smaller{
    width:180px;
    height:180px;
    filter:blur(64px);
}
body{
    color:var(--text-color);
    

}
.container1{
    max-width:1068px ;
    margin-left: auto;
    margin-right: auto;
}
header{
    display:block ;
    width:100%;
    position:fixed;
    top:0 ;
    left:0 ;
    z-index: 100;
    

}
.nav{
    display:flex ;
    align-items:center ;
    justify-content:space-between;
    padding:20px 35px;
    margin-bottom: 200px;

}
#menu-icon{
    font-size : 24px ;
    cursor:pointer ;
    color: var(--text-color);
    display:none ;
}
.logo{
font-size:1.2rem;
font-weight:700;
color:var(--text-color);

}
.logo span{
    color:var(--main-color);
}
.navbar{
    display:flex;
    column-gap:3rem;
}
.navbar a{
    color:var(--text-color);
    font-size:1rem;
    text-transform:uppercase;
    font-weight: 500;
}
.navbar a:hover,
.navbar .active{
    color:var(--main-color);
    border-bottom:3px solid var(--main-color);
}
#search-icon{
    font-size:24px;
    cursor:pointer;
}
section{
    padding:4rem 0 2rem;
    
}



.home{
    max-width:100%;
    margin:auto;
    width:100%;
    max-height:1000px;
    min-height: 800px;
    display:flex;
    align-items:center;
    background-image:url(slika/usedcars.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center left;
    
}
.center{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    
    border-radius: 10px;

}
.form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(194, 186, 186, 0.5);
    
    border-radius: 25px;



}

.form h1{
    /*color: white;*/
    font-size: 2rem;
    margin: 50px;
    



}
.box{
    padding-top: 12px;
    margin: 20px ;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;

}
#submit{
    padding-top: 10px ;
    margin-top: 30px;
    width: 50%;
    background-color: rgba(194, 186, 186, 0.5);
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}

/*
.poslednje{
    background-color: black;
}
.heading{
    text-align: center;
    
}
heading span{
    font-weight:500;
    text-transform:uppercase;

}
.heading h1{
    font-size:2rem;

}
.poslednje-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px, auto));
    gap:1rem;
    margin-top:2rem;
    

}
.poslednje-container .box{
    background-color: grey;
    padding:10px;
    border-radius:1rem;
    box-shadow:1px 4px 41x gray;
}
.poslednje-container .box .box-img{
    width:100%;
    height:200px;
}
.poslednje-container .box .box-img img{
    width:100%;
    height:100%;
    border-radius:1rem;
    object-fit:cover;
    object-position:center;
}
*/





.popular__price{
    align-items: flex-end;
}
.popular{
   background-color: black;
}
.popular__container{
    padding-top:1rem;
    display:grid;
}
.popular__card{
    position:static;
    width:238px;
    background-color:	#202020;
    padding:2rem 1.5rem 1.5rem;
    border-radius:1rem;
    margin-bottom:1.5rem;
    overflow:hidden;
    margin-right: 50px;

}
.popular__card .shape__smaller{
    width:180px;
    height:180px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position:absolute;
    top:-2.5rem;
    left:-2rem;

}
.popular__title,
.popular__subtitle,
.popular__img{
    position:relative;
}
.popular__title{
    font-size:white;
    margin-bottom:.5rem;
}
.popular__subtitle{
    font-size:var(--txt-color);
    font-weight:400;

}
.popular__img{
    size: 100%;
    width: 160px;
    margin:.75rem 0 1.25rem 1.5rem;
    transition:.3s;

}
.popular__data i{
    font-size:1rem;
}

.popular__data{
    display:grid;
    grid-template-columns:repeat(2,max-content);
    gap:.5rem 1.25rem;
    margin-bottom:2rem;

}
.popular__data-group{
    display:inline-flex;
    align-items:center;
    column-gap:.5rem;
    color:var(--text-color);

}
.popular__button{
    background-color: pink;
    
    color:white;
    border:none;
    outline:none;
    padding:.75rem 1rem;
    position:absolute;
    right:0;
    bottom: 0;
    border-radius:1rem 0 1rem 0;
    cursor:pointer;
}
.popular__button i{
    font-size:1.25rem;

}

.popular__card:hover .popular__img{
    transform:translateY(-.25rem);

}
.section__title{
    text-align: center;
    color: #202020;
}
.popular .shape{
    position:absolute;
    top:-2.5rem;
    left:-2.5rem;

}
.search-box{
    height: 400px;
    width:900px;
    position:relative;
    top:20px;
    left:240px;
    text-align:center;

    
}
.glass{
    background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 9px 32px 0 rgba(255,255,255,0.37);


}



.brand{
    background-color:#000;
    color:rgb(255, 191, 202);
    border:3px solid rgb(255, 191, 202);
    width:200px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    font-weight:bold;
    position:relative;
    margin-top:30px;
    margin-left:60px;
    margin-bottom:30px;
    margin-right:20px;
}
#karoserija,
#godinaod,
#godinado,
#gorivo,
#vozila{
    background-color: #000;
    color:rgb(255, 191, 202);
    border:3px solid rgb(255, 191, 202);
    width:200px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    font-weight:bold;
    position:relative;
    margin-top:30px;
    margin-left:60px;
    margin-bottom:30px;
    margin-right:20px;
}

.pretraga__button{
    background-color: black;
    color:rgb(255, 191, 202) ;
    font-size:20px;
    border:3px solid rgb(255, 191, 202);
    border-radius:50px;
    padding:1rem 2rem;
    cursor:pointer;
    position:relative;
    margin-left:350px;
    margin-right:300px;
    margin-bottom:30px;

    
}
.detaljna__button,
.sacuvaj__button,
.sacuvane__button{
    
    background-color: black;
    color:rgb(255, 191, 202) ;
    font-size:16px;
    text-align: center;
    border:3px solid rgb(255, 191, 202);
    border-radius:50px;
    cursor:pointer;
    width: 200px;
    height:50px;
    position:relative;
    margin-left:60px;
    margin-right:30px;
}

.pretraga__button:hover,
.detaljna__button:hover,
.sacuvaj__button:hover,
.sacuvane__button:hover{
    background:rgb(255, 191, 202);
    color:#000;
    box-shadow: 0 0 50px rgb(255, 191, 202), 0 0 21px rgb(255, 191, 202);
}
.footer{
    width:100%;
    padding:100px 15%;
    background-color:#202020;
    color: aliceblue;
    display:flex;

}
.footer div{
    text-align:center;

}
.col-1{
    padding:0 50px;
}
.col-2{
    flex-grow: 2;
    padding:0 50px;

}
.footer div h3{
    font-weight:300;
    margin-bottom:30px;
    letter-spacing:1px;
}
.col-1 a{
    display:block;
    text-decoration:none;
    color:white;
    margin-bottom:10px;

}
.email{
    width:300px;
    height:45px;
    border-radius:40px;
    text-align:center;
    margin-top:20px;
    margin-bottom:40px;
    background-color: black;
    color:rgb(255, 191, 202) ;
    border:3px solid rgb(255, 191, 202);
    border-radius:50px;

}
.footer__button{
    background-color: black;
    color:rgb(255, 191, 202) ;
    font-size:16px;
    text-align: center;
    border:3px solid rgb(255, 191, 202);
    border-radius:50px;
    cursor:pointer;
    width: 200px;
    height:50px;
    position:relative;
}
.footer__button:hover{
    background:rgb(255, 191, 202);
    color:#000;
    box-shadow: 0 0 50px rgb(255, 191, 202), 0 0 21px rgb(255, 191, 202);
} 





/**andjela**/
.poljePretrage{
    background-color: #000;
    color:rgb(255, 191, 202);
    border:3px solid rgb(255, 191, 202);
    width:200px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    font-weight:bold;
    
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:10px;
    


}

.buttonPretrage{
    background-color: #000;
    color:rgb(255, 191, 202);
    border:3px solid rgb(255, 191, 202);
    
    text-align: center;
    font-weight:bold;
    border-radius: 20px;
    padding: 5px;


}
.pozadina{
    
    border-radius:20px;
   
    margin-top: 300px;
    background-color: rgba(194, 186, 186, 0.5);
    text-align:center;
}
.pozadina2{
    
    border-radius:20px;
    background-color: rgba(194, 186, 186, 0.5);
    text-align:center;
}

.kartica{
    max-width: 230px;
    max-height: 420px;
    border-radius:1rem;
    margin-bottom:1.5rem;
    overflow:hidden;
    margin-right: 50px;

}
.karticeBlok::-webkit-scrollbar {
    display: none;
  }
  .car-img{
    width: 130px;
    height: 100px;
    text-align: right;
  }
 
  .karticeBlok{
    overflow-x: hidden;
    overflow-y: scroll;
    max-width:1068px ;
    margin-left: auto;
    margin-right: auto;
   
    margin-top: 100px;
    
       
       
        
        

}