@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
    text-decoration: none;
    box-sizing:border-box;

}
/*=============== VARIABLES ===============*/
:root {
--main-color:pink;
--text-color:white;
--bg-color:black;
--container-color:	#383838;
--txt-color:	#606060;


}

.grid{
    display:grid;
    gap:1.5rem;
}
body{
    color:var(--text-color);
    

}
header{
    display:block ;
    width:100%;
    position:fixed;
    top:0 ;
    left:0 ;
    z-index: 100;

}
.nav{
    display:flex ;
    align-items:center;
    justify-content: space-between;
    padding:20px 35px;
}
#menu-icon{
    font-size : 24px ;
    cursor:pointer ;
    color: var(--text-color);
    display:none ;
}
.logo{
font-size:1.2rem;
font-weight:700;
color:var(--text-color);

}
.logo span{
    color:var(--main-color);
}
.navbar{
    display:flex;
    column-gap:5rem;
}
.navbar a{
    color:var(--text-color);
    font-size:1rem;
    text-transform:uppercase;
    font-weight: 500;
}
.navbar a:hover,
.navbar .active{
    color:var(--main-color);
    border-bottom:3px solid var(--main-color);
}
#user{
    font-size:24px;
    cursor:pointer;
}
#postavljanje__oglasa{
    max-width:1400px;
    margin:auto;
    width:100%;
    min-height:660px;
    display:flex;
    background:linear-gradient(#383838,black);
}
.postavite__button{
    background-color: black;
    color:rgb(255, 191, 202) ;
    font-size:14px;
    text-align: center;
    border:3px solid rgb(255, 191, 202);
    border-radius:50px;
    cursor:pointer;
    width: 150px;
    height:30px;
    position:relative;
}
.postavite__button:hover{
    background:rgb(255, 191, 202);
    color:#000;
} 
.section__title{
    text-align: center;
    color: pink;
}